.roadmap{
    height: 100vh;
    max-width: 35%;
    background-color: #171717;
    color: #b4b4b4;
    text-align: center;
    overflow-y: scroll;
    width: 35%;
}

.input {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    background-color: #121212;
    width: 80%;
}

.roadmap::-webkit-scrollbar {
  width: 12px;
}

.roadmap::-webkit-scrollbar-track {
  background: #171717;
}

.roadmap::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #121212, #323232);
  border-radius: 10px;
}